fastapi
uvicorn
jinja2
pandas
scikit-learn
joblib
transformers
torch
google-api-python-client
python-dotenv
nltk
spacy
matplotlib
tqdm
jsonlines
datasets
accelerate
fastapi
requests
google-cloud-translate
sentencepiece
sacremoses
python-dateutil
python-multipart